.container-1 {
    height: 70vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: white;
    box-shadow: 0 1px 18px #76ABAE;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    width: 200px;
}

.login-inputs input {
    margin: 5px 0;
    padding: 10px;
    width: 200px;
}

input {
    width: 10%;
}

.botonLogin {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-color: none;
    background-color: #76ABAE;
    color: #EEEEEE;
    border: none;
    width: 150px;
    border-radius: 30px;
}


    

button:hover {
    background-color: #31363F;
}

.register-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-link p {
    margin: 0;
}

.register-link a {
    text-decoration: none;
    color: #76ABAE;
}

.formLogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 50px;
}
