.containerVehiculos {
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filtrosVehiculos {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
}

.boton-k {
    background-color: #76ABAE;
    color:white;
    height: 40px;
    border-radius: 30px;
    width: 100px;
    border: none;

}

.filtrarPor {
    margin-top: 10px;
}

.ordernarPor {
    margin-top: 20px;
}

.btnOrdenarPor {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.galeriaVehiculos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px; 
}

.btnFiltros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.selectFiltros {
    border-radius: 30px;
    height: 40px;
    background-color: #f4f4f4; 
    border: 1px solid #ccc; 
    padding: 1px;
    font-size: 16px;
    color: #273122; 
}

.btnBuscarFiltros {
    background-color: #76ABAE;
    color:white;
    height: 40px;
    border-radius: 30px;
    width: 60%;   
    border: none;

}


@media (max-width: 425px) {
    .btnFiltros {
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .btnOrdenarPor {
        flex-direction: column;
        gap: 5px;
        margin: 10px;
    }

    .botonOrdenarPor {
        width: 80px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .btnFiltros {
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .botonOrdenarPor {
        width: 100px;
    }
}


.galeriaVehiculos a {
    text-decoration: none;
    color: inherit; 
}
