.mis-publicaciones-container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.publicaciones-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.publicacion-card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.publicacion-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.publicacion-info {
    padding: 20px;
}

.publicacion-info h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.publicacion-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.botones-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.boton-MisPublicaciones {
    padding: 10px 20px;
    background-color: #76ABAE;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-MisPublicaciones:hover {
    background-color: #31363F;
}

@media (max-width: 768px) {
    .publicacion-card {
        width: 100%;
    }
}
