.imagen{
    background-image: url("../../assets/img/vehiculo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding-left: 20px;
    position: relative;
    padding-bottom: 100px;
}


h1{
    position: relative;
}

h4{
    position: relative;
}