body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .center {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .center h1 {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
  }
  
  .form-vehiculo {
    display: grid;
    grid-gap: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  input[type="file"],
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
  }
  
  .inline-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
  }
  
  .imagen-vehiculo {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .boton-publicar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#4C3280;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .boton-publicar:hover {
    background-color: #0cac2e;
  }
  