.container-publicar-aviso {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 18px #76ABAE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-publicar-aviso {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.btn-publicar {
  padding-top: 10px;

}

.boton-publicar-aviso {

  background-color: #76ABAE;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
}


.formulario-publicar {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.label-publicar-aviso {
  margin-bottom: 5px;
}

.input-publicar-aviso[type="text"],
.input-publicar-aviso[type="email"],
.input-publicar-aviso[type="tel"],
.input-publicar-aviso[type="file"],
.input-publicar-aviso[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.imagen-publicar-aviso {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 4px;
  object-fit: cover;
  height: 200px;
}


.btn-publicar :hover {
  background-color: #31363F;
}

.error {
  font-size: 20px;
  color: red;
}