.detalleVehiculo {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 18px #76ABAE;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.detalleVehiculo h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.detalleVehiculo img {
    max-width: 100%;
    max-height: 200px; /* Ajusta la altura máxima según tu diseño */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.detalleVehiculo h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.detalleVehiculo p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.detalleVehiculo button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #76ABAE;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    width: 150px;
}

.detalleVehiculo button:hover {
    background-color: #31363F;
}

@media (max-width: 1024px) {
    .detalleVehiculo {
        margin: 30px auto;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .detalleVehiculo {
        margin: 20px auto;
        padding: 10px;
    }

    .detalleVehiculo h1 {
        font-size: 20px;
    }

    .detalleVehiculo img {
        max-height: 150px;
    }

    .detalleVehiculo h2 {
        font-size: 18px;
    }

    .detalleVehiculo p {
        font-size: 14px;
    }

    .detalleVehiculo button {
        width: 120px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .detalleVehiculo {
        margin: 10px auto;
        padding: 5px;
    }

    .detalleVehiculo h1 {
        font-size: 18px;
    }

    .detalleVehiculo img {
        max-height: 120px;
    }

    .detalleVehiculo h2 {
        font-size: 16px;
    }

    .detalleVehiculo p {
        font-size: 12px;
    }

    .detalleVehiculo button {
        width: 100px;
        font-size: 12px;
    }
}

.iconoDetalle{
    font-size: 20px;
    margin-right: 15px;
    
}
