nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    
}

.botones{
    display: flex;
    gap: 25px;
}

.base{
    color: #31363F;
    text-decoration: none;
}
    
.active{
        font-size: 18px;
        text-decoration: underline;
        text-decoration-color: blue;
        text-underline-offset: 7px;
        text-decoration-thickness: 2px;
}

.boton:hover{
    color: #76ABAE;
}




