.container-edit-publicacion {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 18px #76ABAE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(118, 171, 174, 0.5);
}

.title-edit-publicacion {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-vehiculo {
    display: flex;
  flex-direction: column;
  width: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inline-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 15px;
}

textarea {
    padding: 10px;
    height: 150px;
    resize: vertical; 
}

.imagen-vehiculo {
    display: block;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


.btn-editar {
    padding-top: 10px;
  
  }
  
  .boton-editar-aviso {
  
    background-color: #76ABAE;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
  }

.boton-publicar:hover {
    background-color: #31363F;
}

@media (max-width: 1200px) {
    .center {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .center {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .center {
        width: 100%;
        padding: 5px;
    }

    textarea {
        padding: 10px;
    }

    .imagen-vehiculo {
        margin-top: 5px;
    }
}
