.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
}

.iconosFooter{
    padding-left: 30px;
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;
}

.iconosFooter :hover{
    color: #76ABAE;
}

.footer p {
    margin: 0; /* Elimina el margen interior */
    font-size: 14px;
}
