.container {
  height: 100vh;
  padding-top: 100px;
  color: #31363F;
}

.contenedor-perfil {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 18px #76ABAE;
  }
  
  .bienvenida {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .info-usuario {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
  }
  
  .foto-perfil {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 40%;
    margin-right: 20px;
  }
  
  .campos {
    flex: 1;
  }
  
  .acciones {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .boton-editar, .boton-eliminar {
    background-color: #76ABAE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }

  .boton-icono{
    border-radius: 15px;
    width: 150px;
    height: 70px;
  }
  
  .boton-editar:hover, .boton-eliminar:hover {
    background-color: #31363F;
  }
  
  @media (max-width: 768px) {
    .info-usuario {
      flex-direction: column;
      align-items: center;
    }
    
    .foto-perfil {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  