.container {
  height: 100vh;
  padding-top: 50px;
}

.contenedor-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 18px #76ABAE;
}

.bienvenida {
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}



.info-usuario {
  padding-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.foto-perfil {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.campos {
  flex: 1;
  padding-top: 20px;
}

.acciones {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.boton-editar,
.boton-eliminar {
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  display: flex;

}

.boton-icono {
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #76ABAE;
  border-radius: 30px;
  width: 150px;
  height: 70px;
  border: none;
}

.boton-editar:hover,
.boton-eliminar:hover {
  background-color: #31363F;
}

@media (max-width: 768px) {
  .info-usuario {
    flex-direction: column;
    align-items: center;
  }

  .foto-perfil {
    margin-right: 0;
    margin-bottom: 10px;
  }
}