button{
    background-color: #76ABAE;
    color: #222831;
}
.boton-1{
    color: #fff;
    border-radius: 15px;
}
button :hover{
   background-color: #31363F;
    
}


.card-img-top{
    height: 200px;
}