.botonCard{
    background-color: #76ABAE;
    color:white;
    border-radius: 30px;
    width: 100px;
    border: none;
    
    
}

.card{
    width: 250px;
    display: inline-block;
    overflow: hidden;
    


}

.card:hover .card-img-top{
    transform: scale(1.2);
}


.card-img-top{
    height: 200px;
    transition: transform 0.3s ease;
}

.boton-1{
    background-color: #76ABAE;
    color:white;
    height: 40px;
    border-radius: 30px;
    width: 100px;
    border: none;
}

.card-body-vehiculo{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}

.info-vehiculo{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    
}

.bton-card{
    display: flex;
    justify-content: center;
}