.botonCard{
    background-color: #76ABAE;
    color: #222831;
    border-radius: 30px;
    width: 100px;
    border: none;
}

.botonCard :hover{
    background-color: aquamarine;
}

.card-body{
    color: #222831;
}

.card-img-top{
    height: 300px;
}