.container-form {
    display: flex;
    width: 700px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 1px 18px #76ABAE;
}

h1 {
    padding-top: 50px;
    text-align: center;
}

.telefono{
    display: flex;
    width: 95%;
}

.telefono>p{
    width: 20%;
    display: flex;
    align-items: center;
    margin: 0;
}

.container-form h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.container-form form {
    width: 100%;
}

.container-form label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-form input[type="text"],
.container-form input[type="number"],
.container-form input[type="file"],
.container-form input[type="email"],
.container-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.container-form input[type="file"] {
    width: auto;
}

.imagen-nuevoUsuario {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}


.container-form button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #76ABAE;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.separador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

boton-r{
    color: #fff;
}


.container-form button:hover {
    background-color: #31363F;
}

@media (max-width: 425px) {
    .container-form {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container-form {
        width: 80%;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}